CHEKPOINT 3 AVD

IMPORT & LOAD DATA

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv("/content/drive/MyDrive/avd praktikum/C_PrimatechService.csv")
df.head()

,service_id,tanggal,provinsi,jenis_servis,jumlah_unit_servis,biaya_servis_per_unit,durasi_servis_per_jam,total_pendapatan,status_servis,rating_pelanggan
0,SVC0001,2024-06-12,Jawa Tengah,Ac,4,156081.0,5.3,624324.0,dibatalkan,4.0
1,SVC0002,07 January 2024,Jawa Barat,LAPTOP,5,139045.0,5.1,695225.0,PROSES,5.0
2,SVC0003,03/03/2024,JAWA TENGAH,hp,3,5009758.0,2.8,15029274.0,DIBATALKAN,2.0
3,SVC0004,2024-02-05,DKI Jakarta,TV,5,160078.0,1.7,800390.0,dibatalkan,3.0
4,SVC0005,2024-06-22,DKI Jakarta,TV,5,392767.0,2.7,1963835.0,PROSES,3.0

CEK TIPE DATA

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   service_id             214 non-null    object
 1   tanggal                214 non-null    object
 2   provinsi               214 non-null    object
 3   jenis_servis           214 non-null    object
 4   jumlah_unit_servis     214 non-null    int64
 5   biaya_servis_per_unit  214 non-null    float64
 6   durasi_servis_per_jam  148 non-null    float64
 7   total_pendapatan       214 non-null    float64
 8   status_servis          214 non-null    object
 9   rating_pelanggan       202 non-null    float64
dtypes: float64(4), int64(1), object(5)
memory usage: 16.8+ KB

Pemeriksaan Tipe Data

Pemeriksaan tipe data dilakukan menggunakan df.info() untuk mengetahui struktur dataset, jumlah data, dan tipe data setiap kolom.
Langkah ini penting untuk memastikan setiap kolom memiliki tipe data yang sesuai dengan analisis. Jika terdapat tipe data yang tidak sesuai, maka dilakukan konversi agar tidak terjadi kesalahan dalam proses pengolahan data.

KONVERSI TANGGAL

In [5]:
df['tanggal'] = pd.to_datetime(df['tanggal'], errors='coerce')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   service_id             214 non-null    object
 1   tanggal                57 non-null     datetime64[ns]
 2   provinsi               214 non-null    object
 3   jenis_servis           214 non-null    object
 4   jumlah_unit_servis     214 non-null    int64
 5   biaya_servis_per_unit  214 non-null    float64
 6   durasi_servis_per_jam  148 non-null    float64
 7   total_pendapatan       214 non-null    float64
 8   status_servis          214 non-null    object
 9   rating_pelanggan       202 non-null    float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(4)
memory usage: 16.8+ KB

Konversi Tipe Data Kolom Tanggal

Kolom tanggal dikonversi menjadi tipe data datetime menggunakan fungsi pd.to_datetime().
Konversi ini dilakukan agar data tanggal dapat digunakan untuk analisis berbasis waktu, seperti filtering 1 tahun terakhir dan pengelompokan data per bulan.
Parameter errors='coerce' digunakan untuk mengubah nilai tanggal yang tidak valid menjadi NaT (Not a Time), sehingga tidak menyebabkan error dalam proses analisis.

*   List item
*   List item

CEK MISSING VALUES

In [7]:
df.isnull().sum()

service_id                 0
tanggal                  157
provinsi                   0
jenis_servis               0
jumlah_unit_servis         0
biaya_servis_per_unit      0
durasi_servis_per_jam     66
total_pendapatan           0
status_servis              0
rating_pelanggan          12
dtype: int64

In [10]:
df = df.copy()

In [11]:
df['durasi_servis_per_jam'] = df['durasi_servis_per_jam'].fillna(
    df['durasi_servis_per_jam'].median()
)

df['rating_pelanggan'] = df['rating_pelanggan'].fillna(
    df['rating_pelanggan'].mode()[0]
)

In [12]:
df.isnull().sum()

service_id                 0
tanggal                  157
provinsi                   0
jenis_servis               0
jumlah_unit_servis         0
biaya_servis_per_unit      0
durasi_servis_per_jam      0
total_pendapatan           0
status_servis              0
rating_pelanggan           0
dtype: int64

In [13]:
df['provinsi'] = df['provinsi'].fillna(df['provinsi'].mode()[0])

In [16]:
print(df['provinsi'].isnull().sum())

0

Pemeriksaan Missing Values

Pemeriksaan missing values dilakukan menggunakan df.isnull().sum() untuk mengetahui jumlah nilai kosong pada setiap kolom dalam dataset.
Langkah ini penting untuk mengidentifikasi kolom yang memiliki data tidak lengkap sebelum dilakukan penanganan lebih lanjut.

Cek Data Duplikat


Pemeriksaan Duplicated Values
Pemeriksaan data duplikat dilakukan menggunakan df.duplicated().sum() untuk mengetahui apakah terdapat baris data yang sama persis dalam dataset.
Data duplikat dapat menyebabkan bias dalam analisis sehingga perlu dihapus jika ditemukan.

In [17]:
df.duplicated().sum()

np.int64(14)

In [18]:
df.drop_duplicates(inplace=True)

In [19]:
df.duplicated().sum()

np.int64(0)

Hasil Penanganan Duplicated Values

Ditemukan sebanyak 14 baris data duplikat dalam dataset.
Data duplikat tersebut dihapus menggunakan drop_duplicates() untuk menghindari bias dalam analisis.
Setelah dilakukan penghapusan, tidak ditemukan lagi data duplikat.

INCONSISTENT VALUES

Pemeriksaan Inconsistent Values
Pemeriksaan nilai tidak konsisten dilakukan pada kolom kategorikal menggunakan .unique() untuk melihat apakah terdapat perbedaan penulisan seperti huruf besar dan kecil.
Untuk menyeragamkan data, dilakukan normalisasi huruf menjadi lowercase menggunakan .str.lower() agar tidak terjadi perbedaan kategori akibat perbedaan penulisan.

In [20]:
df['jenis_servis'].unique()

array(['Ac', 'LAPTOP', 'hp', 'TV', 'laptop', 'Tv', 'tv', 'HP', 'AC',
       'Laptop', 'ac', 'Hp'], dtype=object)

In [21]:
df['jenis_servis'] = df['jenis_servis'].str.lower()

In [22]:
df['jenis_servis'].unique()=

array(['ac', 'laptop', 'hp', 'tv'], dtype=object)

OUTLIER

Penanganan Outliers
Outliers dideteksi menggunakan metode IQR untuk menghilangkan nilai ekstrem pada kolom total_pendapatan agar analisis lebih stabil.

In [23]:
Q1 = df['total_pendapatan'].quantile(0.25)
Q3 = df['total_pendapatan'].quantile(0.75)
IQR = Q3 - Q1

lower = Q1 - 1.5 * IQR
upper = Q3 + 1.5 * IQR

df = df[(df['total_pendapatan'] >= lower) & (df['total_pendapatan'] <= upper)]

df = df.copy()

In [24]:
df.shape

(165, 10)

CONSTRUCT DATA
Konstruksi Data

Dilakukan pembuatan fitur baru yaitu pendapatan_per_jam yang diperoleh dari pembagian total_pendapatan dengan durasi_servis_per_jam untuk menganalisis efisiensi layanan.

In [25]:
df['pendapatan_per_jam'] = df['total_pendapatan'] / df['durasi_servis_per_jam']

In [26]:
df.head()

,service_id,tanggal,provinsi,jenis_servis,jumlah_unit_servis,biaya_servis_per_unit,durasi_servis_per_jam,total_pendapatan,status_servis,rating_pelanggan,pendapatan_per_jam
0,SVC0001,2024-06-12,Jawa Tengah,ac,4,156081.0,5.3,624324.0,dibatalkan,4.0,117796.981132
1,SVC0002,NaT,Jawa Barat,laptop,5,139045.0,5.1,695225.0,PROSES,5.0,136318.627451
3,SVC0004,2024-02-05,DKI Jakarta,tv,5,160078.0,1.7,800390.0,dibatalkan,3.0,470817.647059
4,SVC0005,2024-06-22,DKI Jakarta,tv,5,392767.0,2.7,1963835.0,PROSES,3.0,727346.296296
5,SVC0006,NaT,JAWA TENGAH,laptop,2,72671.0,5.4,145342.0,PROSES,1.0,26915.185185

DATA REDUCTION

Data Reduction
Dilakukan penghapusan kolom yang tidak relevan dengan analisis, seperti service_id, karena hanya berfungsi sebagai identitas unik dan tidak berpengaruh terhadap proses analisis data.

In [27]:
df.drop(columns=['service_id'], inplace=True)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 165 entries, 0 to 199
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   tanggal                42 non-null     datetime64[ns]
 1   provinsi               165 non-null    object
 2   jenis_servis           165 non-null    object
 3   jumlah_unit_servis     165 non-null    int64
 4   biaya_servis_per_unit  165 non-null    float64
 5   durasi_servis_per_jam  165 non-null    float64
 6   total_pendapatan       165 non-null    float64
 7   status_servis          165 non-null    object
 8   rating_pelanggan       165 non-null    float64
 9   pendapatan_per_jam     165 non-null    float64
dtypes: datetime64[ns](1), float64(5), int64(1), object(3)
memory usage: 14.2+ KB

In [29]:
df.head()

,tanggal,provinsi,jenis_servis,jumlah_unit_servis,biaya_servis_per_unit,durasi_servis_per_jam,total_pendapatan,status_servis,rating_pelanggan,pendapatan_per_jam
0,2024-06-12,Jawa Tengah,ac,4,156081.0,5.3,624324.0,dibatalkan,4.0,117796.981132
1,NaT,Jawa Barat,laptop,5,139045.0,5.1,695225.0,PROSES,5.0,136318.627451
3,2024-02-05,DKI Jakarta,tv,5,160078.0,1.7,800390.0,dibatalkan,3.0,470817.647059
4,2024-06-22,DKI Jakarta,tv,5,392767.0,2.7,1963835.0,PROSES,3.0,727346.296296
5,NaT,JAWA TENGAH,laptop,2,72671.0,5.4,145342.0,PROSES,1.0,26915.185185

Penanganan Missing Values pada Kolom Tanggal

Nilai kosong pada kolom tanggal dihapus menggunakan dropna() karena tanggal merupakan informasi penting dalam analisis waktu.

In [30]:
df = df.dropna(subset=['tanggal'])
df = df.copy()

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 42 entries, 0 to 199
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   tanggal                42 non-null     datetime64[ns]
 1   provinsi               42 non-null     object
 2   jenis_servis           42 non-null     object
 3   jumlah_unit_servis     42 non-null     int64
 4   biaya_servis_per_unit  42 non-null     float64
 5   durasi_servis_per_jam  42 non-null     float64
 6   total_pendapatan       42 non-null     float64
 7   status_servis          42 non-null     object
 8   rating_pelanggan       42 non-null     float64
 9   pendapatan_per_jam     42 non-null     float64
dtypes: datetime64[ns](1), float64(5), int64(1), object(3)
memory usage: 3.6+ KB